<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PROG_PART_2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PROG_PART_2.styles.css" asp-append-version="true" />
</head>
<body>


    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark-purple hide-nav" style="background-color: #fff;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">PROG_PART_2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Privacy</a>
                        </li>
                    </ul>
                    <div class="navbar-nav ms-auto">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="d-flex">
        <!-- Side Navigation -->
        <nav id="sidebar" class="bg-grey">
            <ul class="nav flex-column p-3">
                <li class="nav-item mb-3">
                    <a class="nav-link text-white" href="#">Dashboard</a>
                </li>
                <li class="nav-item mb-3">
                    <a class="nav-link text-white" href="#">Submit Claims</a>
                </li>
                <li class="nav-item mb-3">
                    <a class="nav-link text-white" href="#">Track Claims</a>
                </li>
                <li class="nav-item mb-3">
                    <a class="nav-link text-white" href="#">Manage Users</a>
                </li>
                <li class="nav-item mb-3">
                    <a class="nav-link text-white" href="#">Reports</a>
                </li>
            </ul>
        </nav>

        <!-- Main Content Area -->
        <div id="content" class="p-4" style="flex-grow: 1; background-color: #261132; color: white;">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="footer text-muted bg-grey py-3">
        <div class="container">
            &copy; 2024 - PROG_PART_2 - <a class="text-white" href="#">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>


   